body{
    height: 100vh;
    background: url('/images/posto.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central{
    width: 400px;
    background: rgba(255, 255, 255, 0.527);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    box-shadow: 2px 2px 10px black;
}

.central input{
    height: 20px;
    background: rgb(228, 227, 227);
    border: none;
    border-radius: 10px;
    outline: none;
}

.central input:focus{
    background-color: rgb(255, 213, 220);
}

.central button{
    background: rgb(255, 213, 220);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}